 <!-- login -->
  <div class="w3-card-4" style="width:20%;">
  <header class="w3-container w3-blue">
    <h2>Login</h2>
  </header>
<form class="w3-container">
  <p>
  <label>email</label>
  <input class="w3-input" type="text"></p>
  <p>
  <label>Password</label>
  <input class="w3-input" type="text"></p>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>
<br>
<footer class="w3-container w3-blue">
  <br>
</footer>
</div>

