<div class="w3-card-4 w3-mobile" style="width:30%;">
  <header class="w3-container w3-red ">
    <h2>Sign up</h2>
  </header>
  <form id="signup-form" class="w3-container ">
    <p>
      <label for="name-signup">name</label>
      <input class="w3-input" type="text" id="name">
    </p>
    <p>
      <label for="email-signup">email</label>
      <input class="w3-input " type="text" id="email">
    </p>
    <p>
      <label for="username-signup" >username</label>
      <input class="w3-input " type="text" id="username">
    </p>
    <p>
      <label for="password-signup">Password</label>
      <input class="w3-input " type="text" id="password">
    </p>
    <div class="form-group">
      <button class="w3-button w3-green " type="submit" >Sign up</button>
      <a class="login-link" href="/login">Log in instead</a>
    </div>
  </form>
  <br>
  <footer class="w3-container w3-red ">
    <br>
  </footer>
</div>
<script src="/js/login.js"></script>