{{> post-info post}}

{{#if loggedIn}}
<div class="w3-card-4 w3-mobile" style="width:40%;">
  <header class="w3-container w3-blue">
    <h2>comment</h2>
  </header>
 <form id="comment-form" class= "w3-container w3-mobile">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit">add comment</button>
  </div>
</form>
  <br>
  <footer class="w3-container w3-blue">
    <br>
  </footer>
</div>
{{/if}}
<br>
<div class="w3-card-4" style="width:40%;">
  <header class="w3-container w3-red">
    <br>
  </header>
<div class="w3-container">
  {{> comments post.comments}}
  </div>
{{#if loggedIn}}
<footer class="w3-container w3-red">
    <br>
  </footer>
<script src="/js/comment.js"></script>
{{/if}}


